{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="keywords"
      content="Java developer, JSP, Servlets, Spring, Spring boot, MVC, Hibernate, REST, passionate, self driven, frontend, backend, job seeker, software developer, Chiranjeevi, Chandu, Chiranjeevi Chandu, portfolio, best portfolio, angularjs, angular, html, css, javascript, jquery, bootstrap, mysql"/>
<meta name="description"
      content="Hi, I am Chiranjeevi Chandu. An innovative and a committed graduate with passion to have a growth oriented and challenging career in domain of Software & Web Development to tone my experience and to utilize my programming skills through continuous learning and exploring new technologies."/>
<meta name="google-site-verification" content="pt_Oxj1j8I_eYcxTBgwRXFtuDVG2FQl4VIJUu2v21F0"/>

<meta property="og:title" content="Chiranjeevi Chandu">
<meta property="og:url" content="https://www.chanduchiranjeevi.com/">
<meta property="og:description"
      content="Hi, I am Chiranjeevi Chandu. An innovative and a committed graduate with passion to have a growth oriented and challenging career in domain of Software & Web Development to tone my experience and to utilize my programming skills through continuous learning and exploring new technologies.">
<meta property="og:image" content="https://www.chanduchiranjeevi.com/static/images/thumbnail.png">
